08_n8n/workflows_cloud/WF-010_publicar_tiktok.json
{
  "name": "WF-010 — Publicar en TikTok (Cloud)",
  "nodes": [
    {
      "id": "wf010c_trigger",
      "name": "Webhook Publish TikTok",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "publish-tiktok",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "publish-tiktok"
    },
    {
      "id": "wf010c_validate",
      "name": "Validar Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false},
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.body.pieza }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            },
            {
              "leftValue": "={{ $json.body.videoUrl }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            }
          ]
        }
      }
    },
    {
      "id": "wf010c_error",
      "name": "Error: Input Invalido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 440],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Campos requeridos: pieza, videoUrl' }) }}",
        "options": {"responseCode": 400}
      }
    },
    {
      "id": "wf010c_get_ready",
      "name": "GitHub: Leer PublishReady",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 180],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/04_Produccion/{{$('Webhook Publish TikTok').first().json.body.pieza}}_PublishReady.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "ref", "value": "={{$vars.GITHUB_BRANCH || 'main'}}"}]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      }
    },
    {
      "id": "wf010c_extract_copy",
      "name": "Extraer TikTok Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 180],
      "parameters": {
        "jsCode": "const pieza = $('Webhook Publish TikTok').first().json.body.pieza;\nconst videoUrl = $('Webhook Publish TikTok').first().json.body.videoUrl;\nconst content = Buffer.from($json.content, 'base64').toString('utf8');\n\nconst rgx = /## TikTok\\s*\\n```\\s*\\n([\\s\\S]*?)\\n```/m;\nconst match = content.match(rgx);\nif (!match || !match[1]) throw new Error('No TikTok copy found in ' + pieza + '_PublishReady.md');\n\nconst caption = match[1].trim();\nif (!caption) throw new Error('Empty TikTok copy in ' + pieza + '_PublishReady.md');\n\nreturn [{ json: { pieza, videoUrl, caption } }];"
      }
    },
    {
      "id": "wf010c_publish_tt",
      "name": "Publicar en TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 180],
      "parameters": {
        "method": "POST",
        "url": "={{$vars.TIKTOK_PUBLISH_WEBHOOK_URL}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ pieza: $json.pieza, caption: $json.caption, videoUrl: $json.videoUrl }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {"id": "__PLACEHOLDER_TIKTOK_AUTH__", "name": "FG TikTok Auth"}
      }
    },
    {
      "id": "wf010c_get_tracker",
      "name": "GitHub: GET Tracker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 180],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/04_Produccion/pipeline_tracker.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "ref", "value": "={{$vars.GITHUB_BRANCH || 'main'}}"}]
        },
        "options": {"response": {"response": {"neverError": true}}}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "wf010c_update_tracker",
      "name": "Actualizar Tracker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 180],
      "parameters": {
        "jsCode": "const trackerRes = $input.first().json;\nconst publishRes = $('Publicar en TikTok').first().json;\nconst data = $('Extraer TikTok Copy').first().json;\nconst pieza = data.pieza;\nconst postId = publishRes.postId || publishRes.id || publishRes.video_id || 'unknown';\n\nlet tracker = {};\nif (trackerRes.content) {\n  try { tracker = JSON.parse(Buffer.from(trackerRes.content, 'base64').toString('utf8')); } catch(e) {}\n}\nconst sha = trackerRes.sha || null;\n\nconst ahora = new Date().toISOString();\nif (!tracker[pieza]) tracker[pieza] = { historial: [], publicaciones: [] };\ntracker[pieza].historial = tracker[pieza].historial || [];\ntracker[pieza].publicaciones = tracker[pieza].publicaciones || [];\ntracker[pieza].historial.push({ estado: 'PUBLISHED_TIKTOK', timestamp: ahora });\ntracker[pieza].publicaciones.push({ plataforma: 'TikTok', timestamp: ahora, postId });\ntracker[pieza].estado_actual = 'PUBLISHED_TIKTOK';\ntracker[pieza].ultima_actualizacion = ahora;\n\nconst base64Content = Buffer.from(JSON.stringify(tracker, null, 2)).toString('base64');\nreturn [{ json: { pieza, postId, base64Content, ...(sha ? { sha } : {}) } }];"
      }
    },
    {
      "id": "wf010c_put_tracker",
      "name": "GitHub: PUT Tracker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1540, 180],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/04_Produccion/pipeline_tracker.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ message: 'tracker: published_tiktok ' + $json.pieza, content: $json.base64Content, branch: $vars.GITHUB_BRANCH || 'main', ...($json.sha ? { sha: $json.sha } : {}) }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      }
    },
    {
      "id": "wf010c_telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1760, 180],
      "parameters": {
        "workflowId": "a1b2c3d4-0002-4000-8000-000000000002",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ '\\uD83C\\uDFA5 Publicado en TikTok: ' + $('Actualizar Tracker').first().json.pieza + '\\nPost: ' + $('Actualizar Tracker').first().json.postId }}"
          }
        }
      }
    },
    {
      "id": "wf010c_log",
      "name": "Registrar Evento",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1980, 180],
      "parameters": {
        "workflowId": "a1b2c3d4-0004-4000-8000-000000000004",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento": "PUBLISHED_TIKTOK",
            "pieza": "={{ $('Actualizar Tracker').first().json.pieza }}",
            "detalles": "={{ 'Post: ' + $('Actualizar Tracker').first().json.postId }}",
            "timestamp": "={{ new Date().toISOString() }}"
          }
        }
      }
    },
    {
      "id": "wf010c_respond",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2200, 180],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, plataforma: 'TikTok', pieza: $('Actualizar Tracker').first().json.pieza, postId: $('Actualizar Tracker').first().json.postId }) }}"
      }
    }
  ],
  "connections": {
    "Webhook Publish TikTok": {
      "main": [[{"node": "Validar Input", "type": "main", "index": 0}]]
    },
    "Validar Input": {
      "main": [
        [{"node": "GitHub: Leer PublishReady", "type": "main", "index": 0}],
        [{"node": "Error: Input Invalido", "type": "main", "index": 0}]
      ]
    },
    "GitHub: Leer PublishReady": {
      "main": [[{"node": "Extraer TikTok Copy", "type": "main", "index": 0}]]
    },
    "Extraer TikTok Copy": {
      "main": [[{"node": "Publicar en TikTok", "type": "main", "index": 0}]]
    },
    "Publicar en TikTok": {
      "main": [[{"node": "GitHub: GET Tracker", "type": "main", "index": 0}]]
    },
    "GitHub: GET Tracker": {
      "main": [[{"node": "Actualizar Tracker", "type": "main", "index": 0}]]
    },
    "Actualizar Tracker": {
      "main": [[{"node": "GitHub: PUT Tracker", "type": "main", "index": 0}]]
    },
    "GitHub: PUT Tracker": {
      "main": [[{"node": "Notificar Telegram", "type": "main", "index": 0}]]
    },
    "Notificar Telegram": {
      "main": [[{"node": "Registrar Evento", "type": "main", "index": 0}]]
    },
    "Registrar Evento": {
      "main": [[{"node": "Responder OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "triggerCount": 0,
  "meta": {"instanceId": ""}
}
