08_n8n/workflows_cloud/WF-003_qa_checklist.json
{
  "name": "WF-003 — QA Checklist (Cloud)",
  "nodes": [
    {
      "id": "wf003_webhook",
      "name": "Webhook QA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "qa",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "qa-checklist"
    },
    {
      "id": "wf003_validate",
      "name": "Validar Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false},
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.pieza }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            }
          ]
        }
      }
    },
    {
      "id": "wf003_error",
      "name": "Error: Campo Faltante",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 450],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Campo requerido: pieza' }) }}",
        "options": {"responseCode": 400}
      }
    },
    {
      "id": "wf003_get_brief",
      "name": "GitHub: Leer Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/03_Editorial/{{$('Webhook QA').first().json.body.pieza}}_Brief.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "ref", "value": "={{$vars.GITHUB_BRANCH || 'main'}}"}]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      }
    },
    {
      "id": "wf003_decode_brief",
      "name": "Decodificar Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 200],
      "parameters": {
        "jsCode": "const pieza = $('Webhook QA').first().json.body.pieza;\nconst briefContent = Buffer.from($json.content, 'base64').toString('utf8');\n\nlet titulo = '', pilar = '', formato = '', plataformas = '';\nfor (const line of briefContent.split('\\n')) {\n  if (line.includes('**Título:**')) titulo = line.split('**Título:**')[1]?.trim() || titulo;\n  if (line.includes('**Pilar:**')) pilar = line.split('**Pilar:**')[1]?.trim() || pilar;\n  if (line.includes('**Formato:**')) formato = line.split('**Formato:**')[1]?.trim() || formato;\n  if (line.includes('**Plataforma(s):**')) plataformas = line.split('**Plataforma(s):**')[1]?.trim() || plataformas;\n}\n\nreturn [{ json: { pieza, titulo, pilar, formato, plataformas } }];"
      }
    },
    {
      "id": "wf003_get_template",
      "name": "GitHub: Leer Template QA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/08_n8n/templates/qa_template.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "ref", "value": "={{$vars.GITHUB_BRANCH || 'main'}}"}]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      }
    },
    {
      "id": "wf003_fill_template",
      "name": "Rellenar Template QA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200],
      "parameters": {
        "jsCode": "const template = Buffer.from($json.content, 'base64').toString('utf8');\nconst data = $('Decodificar Brief').first().json;\nconst today = new Date().toISOString().split('T')[0];\n\nlet content = template;\ncontent = content.replace(/\\{\\{ID_PIEZA\\}\\}/g, data.pieza);\ncontent = content.replace(/\\{\\{TITULO\\}\\}/g, data.titulo);\ncontent = content.replace(/\\{\\{PILAR_MARCADO\\}\\}/g, data.pilar);\ncontent = content.replace(/\\{\\{FORMATO\\}\\}/g, data.formato);\ncontent = content.replace(/\\{\\{PLATAFORMAS\\}\\}/g, data.plataformas);\ncontent = content.replace(/\\{\\{FECHA\\}\\}/g, today);\n\nconst base64Content = Buffer.from(content).toString('base64');\nreturn [{ json: { content, base64Content, pieza: data.pieza, titulo: data.titulo } }];"
      }
    },
    {
      "id": "wf003_write_qa",
      "name": "GitHub: Escribir QA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 200],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/04_Produccion/{{$json.pieza}}_QA.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ message: 'feat: QA checklist ' + $json.pieza, content: $json.base64Content, branch: $vars.GITHUB_BRANCH || 'main' }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      }
    },
    {
      "id": "wf003_telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1750, 200],
      "parameters": {
        "workflowId": "oeydfg22aym5l0",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ '🔍 QA generado para ' + $('Rellenar Template QA').first().json.pieza + ': ' + $('Rellenar Template QA').first().json.titulo }}"
          }
        }
      }
    },
    {
      "id": "wf003_log",
      "name": "Registrar Evento",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2000, 200],
      "parameters": {
        "workflowId": "gU1WpHnU2Jmf3Wgj",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento": "QA_GENERADO",
            "pieza": "={{ $('Rellenar Template QA').first().json.pieza }}",
            "detalles": "={{ 'QA checklist creado para ' + $('Rellenar Template QA').first().json.titulo }}"
          }
        }
      }
    },
    {
      "id": "wf003_ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, pieza: $('Rellenar Template QA').first().json.pieza, archivo: '04_Produccion/' + $('Rellenar Template QA').first().json.pieza + '_QA.md' }) }}",
        "options": {"responseCode": 200}
      }
    }
  ],
  "connections": {
    "Webhook QA": {
      "main": [[{"node": "Validar Input", "type": "main", "index": 0}]]
    },
    "Validar Input": {
      "main": [
        [{"node": "GitHub: Leer Brief", "type": "main", "index": 0}],
        [{"node": "Error: Campo Faltante", "type": "main", "index": 0}]
      ]
    },
    "GitHub: Leer Brief": {
      "main": [[{"node": "Decodificar Brief", "type": "main", "index": 0}]]
    },
    "Decodificar Brief": {
      "main": [[{"node": "GitHub: Leer Template QA", "type": "main", "index": 0}]]
    },
    "GitHub: Leer Template QA": {
      "main": [[{"node": "Rellenar Template QA", "type": "main", "index": 0}]]
    },
    "Rellenar Template QA": {
      "main": [[{"node": "GitHub: Escribir QA", "type": "main", "index": 0}]]
    },
    "GitHub: Escribir QA": {
      "main": [[{"node": "Notificar Telegram", "type": "main", "index": 0}]]
    },
    "Notificar Telegram": {
      "main": [[{"node": "Registrar Evento", "type": "main", "index": 0}]]
    },
    "Registrar Evento": {
      "main": [[{"node": "Responder OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "triggerCount": 0,
  "meta": {"instanceId": ""}
}
