08_n8n/workflows_cloud/WF-001_intake_ideas.json
{
  "name": "WF-001 — Intake Ideas (Cloud)",
  "nodes": [
    {
      "id": "wf001_webhook",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "intake"
    },
    {
      "id": "wf001_validate",
      "name": "Validar Campos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond_titulo",
              "leftValue": "={{ $json.body.titulo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond_pilar",
              "leftValue": "={{ $json.body.pilar }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "wf001_error_campos",
      "name": "Error: Campos Faltantes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        500,
        450
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, message: 'titulo y pilar son requeridos' }) }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "wf001_list_piezas",
      "name": "GitHub: Listar Piezas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/03_Editorial",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "={{$vars.GITHUB_BRANCH || 'main'}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "__PLACEHOLDER_GH_AUTH__",
          "name": "FG GitHub Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "wf001_calc_id",
      "name": "Calcular Siguiente ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const files = Array.isArray($input.first().json) ? $input.first().json : [];\nconst body = $('Webhook Intake').first().json.body || {};\nconst rawFormat = String(body.formato || 'carousel').trim();\nconst format = rawFormat.toLowerCase();\nconst isPodcast = format === 'podcast';\nconst prefix = isPodcast ? 'EP' : 'P1';\n\nlet maxNum = 0;\nfor (const file of files) {\n  const match = (file.name || '').match(new RegExp('^' + prefix + '_(\\\\d{3})'));\n  if (match) {\n    const num = parseInt(match[1], 10);\n    if (num > maxNum) maxNum = num;\n  }\n}\n\nconst nextNum = String(maxNum + 1).padStart(3, '0');\nconst idPieza = prefix + '_' + nextNum;\nconst year = new Date().getFullYear();\nconst today = new Date().toISOString().split('T')[0];\nconst idCompleto = isPodcast ? 'FG-' + year + '-EP_' + nextNum : 'FG-' + year + '-P1_' + nextNum;\n\nconst pilares = {\n  GD: 'Geopolitik Drop',\n  BB: 'Bass & Borders',\n  FG: 'Frecuencia Global',\n  BP: 'Behind the Policy'\n};\n\nconst defaultPlatforms = isPodcast ? 'RSS.com, Spotify, Apple Podcasts, YouTube, Website' : 'Instagram';\nconst defaultDuration = isPodcast ? '18-25 min' : '[por definir]';\nconst defaultDerivados = isPodcast ? 'Host en RSS.com + videopodcast YouTube largo + 2-3 shorts + X + LinkedIn' : '[por definir]';\nconst serieEpisodio = isPodcast ? 'Frecuencia Global Podcast - S1E' + nextNum : 'N/A';\n\nfunction normalizePlatforms(value) {\n  if (Array.isArray(value)) return value.join(', ');\n  return value || defaultPlatforms;\n}\n\nreturn [{\n  json: {\n    idPieza,\n    idCompleto,\n    nextNum,\n    titulo: body.titulo,\n    pilar: body.pilar,\n    pilarNombre: pilares[body.pilar] || body.pilar,\n    angulo: body.angulo || '',\n    formato: rawFormat || 'carousel',\n    plataformas: normalizePlatforms(body.plataformas),\n    autor: body.autor || 'Farid Assad',\n    deadline: body.deadline || '',\n    fecha: today,\n    duracion: body.duracion || defaultDuration,\n    derivados: body.derivados || defaultDerivados,\n    serieEpisodio,\n    pieceType: isPodcast ? 'podcast' : 'editorial',\n    isPodcast\n  }\n}];"
      }
    },
    {
      "id": "wf001_read_template",
      "name": "GitHub: Leer Template Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/08_n8n/templates/brief_template.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "={{$vars.GITHUB_BRANCH || 'main'}}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "__PLACEHOLDER_GH_AUTH__",
          "name": "FG GitHub Auth"
        }
      }
    },
    {
      "id": "wf001_fill_template",
      "name": "Rellenar Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "jsCode": "const template = Buffer.from($json.content, 'base64').toString('utf8');\nconst data = $('Calcular Siguiente ID').first().json;\n\nconst podcastBlock = data.isPodcast\n  ? [\n      '## PODCAST / VIDEOPODCAST',\n      '',\n      '| Campo | Valor |',\n      '|-------|-------|',\n      '| **Tipo de episodio** | [ ] Solo host / [ ] Host + invitados / [ ] Narrado |',\n      '| **Salida audio** | [ ] RSS.com / [ ] Spotify / [ ] Apple Podcasts |',\n      '| **Salida video** | [ ] YouTube largo / [ ] Shorts derivados |',\n      '| **Soporte editorial web** | [ ] Si / [ ] No |',\n      '| **Modo de video** | [ ] Visualizer editorial 16:9 / [ ] On-camera / [ ] Hibrido |',\n      '| **Show notes requeridas** | [ ] Si / [ ] No |',\n      '| **Capitulos / timestamps** | [ ] Si / [ ] No |',\n      '| **Deliverables obligatorios** | [audio master, video master 16:9, cover cuadrado, thumbnail 16:9, metadata RSS.com, metadata YouTube, CTA, clip manifest, QA] |',\n      '',\n      '---',\n      ''\n    ].join('\\n')\n  : ['## PODCAST / VIDEOPODCAST', '', '_No aplica para esta pieza._', '', '---', ''].join('\\n');\n\nlet content = template;\ncontent = content.replace(/\\{\\{ID_PIEZA\\}\\}/g, data.idCompleto);\ncontent = content.replace(/\\{\\{FECHA\\}\\}/g, data.fecha);\ncontent = content.replace(/\\{\\{TITULO\\}\\}/g, data.titulo);\ncontent = content.replace(/\\{\\{PILAR_MARCADO\\}\\}/g, data.pilarNombre);\ncontent = content.replace(/\\{\\{ANGULO\\}\\}/g, data.angulo);\ncontent = content.replace(/\\{\\{FORMATO\\}\\}/g, data.formato);\ncontent = content.replace(/\\{\\{PLATAFORMAS\\}\\}/g, data.plataformas);\ncontent = content.replace(/\\{\\{AUTOR\\}\\}/g, data.autor);\ncontent = content.replace(/\\{\\{DEADLINE\\}\\}/g, data.deadline);\ncontent = content.replace(/\\{\\{SERIE_EPISODIO\\}\\}/g, data.serieEpisodio || 'N/A');\ncontent = content.replace(/\\{\\{DURACION\\}\\}/g, data.duracion || '[por definir]');\ncontent = content.replace(/\\{\\{DERIVADOS\\}\\}/g, data.derivados || '[por definir]');\ncontent = content.replace(/\\{\\{PODCAST_BLOCK\\}\\}/g, podcastBlock);\n\nreturn [{ json: { content, idPieza: data.idPieza, ...data } }];"
      }
    },
    {
      "id": "wf001_encode",
      "name": "Codificar Para GitHub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst base64Content = Buffer.from(data.content).toString('base64');\nreturn [{ json: { ...data, base64Content } }];"
      }
    },
    {
      "id": "wf001_write_brief",
      "name": "GitHub: Escribir Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/03_Editorial/{{$json.idPieza}}_Brief.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ message: 'feat: brief ' + $json.idPieza, content: $json.base64Content, branch: $vars.GITHUB_BRANCH || 'main' }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "__PLACEHOLDER_GH_AUTH__",
          "name": "FG GitHub Auth"
        }
      }
    },
    {
      "id": "wf001_log",
      "name": "Registrar Evento",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "workflowId": "a1b2c3d4-0004-4000-8000-000000000004",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento": "BRIEF_CREATED",
            "pieza": "={{ $('Calcular Siguiente ID').first().json.idPieza }}",
            "detalles": "={{ 'Título: ' + $('Calcular Siguiente ID').first().json.titulo }}"
          }
        }
      }
    },
    {
      "id": "wf001_telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ],
      "parameters": {
        "workflowId": "a1b2c3d4-0002-4000-8000-000000000002",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ '📝 Brief creado: ' + $('Calcular Siguiente ID').first().json.idPieza + ' (' + $('Calcular Siguiente ID').first().json.pieceType + ')' + '\\n' + $('Calcular Siguiente ID').first().json.titulo }}"
          }
        }
      }
    },
    {
      "id": "wf001_ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2500,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, idPieza: $('Calcular Siguiente ID').first().json.idPieza, idCompleto: $('Calcular Siguiente ID').first().json.idCompleto, pieceType: $('Calcular Siguiente ID').first().json.pieceType, briefPath: '03_Editorial/' + $('Calcular Siguiente ID').first().json.idPieza + '_Brief.md' }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "Validar Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Campos": {
      "main": [
        [
          {
            "node": "GitHub: Listar Piezas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Campos Faltantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Listar Piezas": {
      "main": [
        [
          {
            "node": "Calcular Siguiente ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Siguiente ID": {
      "main": [
        [
          {
            "node": "GitHub: Leer Template Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Leer Template Brief": {
      "main": [
        [
          {
            "node": "Rellenar Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rellenar Template": {
      "main": [
        [
          {
            "node": "Codificar Para GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codificar Para GitHub": {
      "main": [
        [
          {
            "node": "GitHub: Escribir Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Escribir Brief": {
      "main": [
        [
          {
            "node": "Registrar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Evento": {
      "main": [
        [
          {
            "node": "Notificar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Telegram": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "triggerCount": 0,
  "meta": {
    "instanceId": ""
  }
}
