08_n8n/workflows_cloud/WF-005_pipeline_status.json
{
  "name": "WF-005 — Pipeline Status Diario (Cloud)",
  "nodes": [
    {
      "id": "wf005_cron",
      "name": "Cron 9AM Diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 9 * * *"}]
        }
      }
    },
    {
      "id": "wf005_get_tracker",
      "name": "GitHub: GET Tracker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [250, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/04_Produccion/pipeline_tracker.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "ref", "value": "={{$vars.GITHUB_BRANCH || 'main'}}"}]
        },
        "options": {"response": {"response": {"neverError": true}}}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "wf005_calc_stats",
      "name": "Calcular Estadísticas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const res = $input.first().json;\n\nif (!res.content) {\n  return [{ json: { resumen: 'Sin piezas registradas en el tracker.', stats: {}, trackerSha: null, trackerBase64: null } }];\n}\n\nlet tracker = {};\ntry { tracker = JSON.parse(Buffer.from(res.content, 'base64').toString('utf8')); } catch(e) {}\nconst trackerSha = res.sha || null;\n\nconst piezas = Object.keys(tracker);\nconst ahora = new Date();\nconst stats = { total: piezas.length, por_estado: {}, bloqueadas_48h: [] };\n\nfor (const p of piezas) {\n  const estado = tracker[p].estado_actual || 'DESCONOCIDO';\n  stats.por_estado[estado] = (stats.por_estado[estado] || 0) + 1;\n  const ultimaAct = new Date(tracker[p].ultima_actualizacion);\n  const horasDiff = (ahora - ultimaAct) / 3600000;\n  if (horasDiff > 48 && estado !== 'PUBLISHED') {\n    stats.bloqueadas_48h.push(`${p} (${estado}, ${Math.floor(horasDiff)}h sin cambio)`);\n  }\n}\n\nconst dateStr = ahora.toISOString().split('T')[0];\nlet resumen = `📊 *PIPELINE STATUS — ${dateStr}*\\n\\nTotal piezas: ${stats.total}\\n\\n*Por estado:*\\n`;\nfor (const [estado, count] of Object.entries(stats.por_estado)) resumen += `  • ${estado}: ${count}\\n`;\nif (stats.bloqueadas_48h.length > 0) {\n  resumen += `\\n⚠️ *Bloqueadas >48h:*\\n`;\n  for (const b of stats.bloqueadas_48h) resumen += `  • ${b}\\n`;\n} else {\n  resumen += `\\n✅ Sin piezas bloqueadas.\\n`;\n}\n\nreturn [{ json: { resumen, stats, trackerSha } }];"
      }
    },
    {
      "id": "wf005_telegram",
      "name": "Enviar Resumen Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "workflowId": "oeydfg22aym5l0",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ $json.resumen }}"
          }
        }
      }
    },
    {
      "id": "wf005_get_log",
      "name": "GitHub: GET Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/07_Operaciones/FG_Operations_Log.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "ref", "value": "={{$vars.GITHUB_BRANCH || 'main'}}"}]
        },
        "options": {"response": {"response": {"neverError": true}}}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "wf005_append_log",
      "name": "Escribir Snapshot en Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const logRes = $input.first().json;\nconst stats = $('Calcular Estadísticas').first().json.stats;\nconst today = new Date().toISOString().split('T')[0];\nconst time = new Date().toISOString().split('T')[1].substring(0, 5);\nconst logLine = `| ${today} | ${time} | DAILY_STATUS | — | Total: ${stats.total || 0}, Bloqueadas: ${(stats.bloqueadas_48h || []).length} |`;\n\nlet existing = '';\nlet sha = null;\nif (logRes.content) {\n  existing = Buffer.from(logRes.content, 'base64').toString('utf8');\n  sha = logRes.sha || null;\n} else {\n  existing = '# FG Operations Log\\n\\n| Fecha | Hora | Evento | Pieza | Detalles |\\n|-------|------|--------|-------|----------|\\n';\n}\n\nconst updated = existing + logLine + '\\n';\nconst base64Content = Buffer.from(updated).toString('base64');\nreturn [{ json: { base64Content, ...(sha ? { sha } : {}) } }];"
      }
    },
    {
      "id": "wf005_put_log",
      "name": "GitHub: PUT Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/07_Operaciones/FG_Operations_Log.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ message: 'log: daily status snapshot', content: $json.base64Content, branch: $vars.GITHUB_BRANCH || 'main', ...($json.sha ? { sha: $json.sha } : {}) }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      }
    }
  ],
  "connections": {
    "Cron 9AM Diario": {
      "main": [[{"node": "GitHub: GET Tracker", "type": "main", "index": 0}]]
    },
    "GitHub: GET Tracker": {
      "main": [[{"node": "Calcular Estadísticas", "type": "main", "index": 0}]]
    },
    "Calcular Estadísticas": {
      "main": [[{"node": "Enviar Resumen Telegram", "type": "main", "index": 0}]]
    },
    "Enviar Resumen Telegram": {
      "main": [[{"node": "GitHub: GET Log", "type": "main", "index": 0}]]
    },
    "GitHub: GET Log": {
      "main": [[{"node": "Escribir Snapshot en Log", "type": "main", "index": 0}]]
    },
    "Escribir Snapshot en Log": {
      "main": [[{"node": "GitHub: PUT Log", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "triggerCount": 0,
  "meta": {"instanceId": ""}
}
