08_n8n/workflows_cloud/WF-004_notificacion_log.json
{
  "name": "WF-004 — Notificación y Log (Cloud)",
  "nodes": [
    {
      "id": "wf004_trigger",
      "name": "Ejecutar por Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "wf004_format",
      "name": "Formatear Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst timestamp = data.timestamp || new Date().toISOString();\nconst date = timestamp.split('T')[0];\nconst time = (timestamp.split('T')[1] || '').substring(0, 5) || '00:00';\nconst logLine = `| ${date} | ${time} | ${data.evento || 'N/A'} | ${data.pieza || 'N/A'} | ${data.detalles || ''} |`;\nreturn [{ json: { logLine, ...data } }];"
      }
    },
    {
      "id": "wf004_get_log",
      "name": "GitHub: GET Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/07_Operaciones/FG_Operations_Log.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "ref", "value": "={{$vars.GITHUB_BRANCH || 'main'}}"}]
        },
        "options": {"response": {"response": {"neverError": true}}}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "wf004_append",
      "name": "Append a Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const logLine = $('Formatear Log').first().json.logLine;\nconst res = $input.first().json;\n\nlet existing = '';\nlet sha = null;\nif (res.content) {\n  existing = Buffer.from(res.content, 'base64').toString('utf8');\n  sha = res.sha || null;\n} else {\n  existing = '# FG Operations Log\\n\\n| Fecha | Hora | Evento | Pieza | Detalles |\\n|-------|------|--------|-------|----------|\\n';\n}\n\nconst updated = existing + logLine + '\\n';\nconst base64Content = Buffer.from(updated).toString('base64');\nreturn [{ json: { base64Content, ...(sha ? { sha } : {}), ...$('Formatear Log').first().json } }];"
      }
    },
    {
      "id": "wf004_put_log",
      "name": "GitHub: PUT Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/07_Operaciones/FG_Operations_Log.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {"name": "message", "value": "=log: ' + ($json.evento || 'event') + ' - ' + ($json.pieza || '-')"},
            {"name": "content", "value": "={{$json.base64Content}}"},
            {"name": "branch", "value": "={{$vars.GITHUB_BRANCH || 'main'}}"},
            {"name": "sha", "value": "={{$json.sha}}"}
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      }
    },
    {
      "id": "wf004_telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "workflowId": "a1b2c3d4-0002-4000-8000-000000000002",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ '📋 [LOG] ' + $('Formatear Log').first().json.evento + ' — ' + ($('Formatear Log').first().json.pieza || '-') + ': ' + ($('Formatear Log').first().json.detalles || '') }}"
          }
        }
      }
    }
  ],
  "connections": {
    "Ejecutar por Workflow": {
      "main": [[{"node": "Formatear Log", "type": "main", "index": 0}]]
    },
    "Formatear Log": {
      "main": [[{"node": "GitHub: GET Log", "type": "main", "index": 0}]]
    },
    "GitHub: GET Log": {
      "main": [[{"node": "Append a Log", "type": "main", "index": 0}]]
    },
    "Append a Log": {
      "main": [[{"node": "GitHub: PUT Log", "type": "main", "index": 0}]]
    },
    "GitHub: PUT Log": {
      "main": [[{"node": "Notificar Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "triggerCount": 0,
  "meta": {"instanceId": ""}
}
