08_n8n/workflows_cloud/sub/SUB-004_registrar_evento.json
{
  "name": "SUB-004 — Registrar Evento (Cloud)",
  "id": "gU1WpHnU2Jmf3Wgj",
  "nodes": [
    {
      "id": "sub004_trigger",
      "name": "Ejecutar por Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "sub004_read_log",
      "name": "GitHub: Leer Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [250, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/07_Operaciones/FG_Operations_Log.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "ref", "value": "={{$vars.GITHUB_BRANCH || 'main'}}"}]
        },
        "options": {"response": {"response": {"neverError": true}}}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "sub004_append",
      "name": "Preparar y Actualizar Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const githubResponse = $input.first().json;\nconst input = $('Ejecutar por Workflow').first().json;\n\nconst timestamp = input.timestamp || new Date().toISOString();\nconst date = timestamp.split('T')[0];\nconst time = (timestamp.split('T')[1] || '00:00').substring(0, 5);\nconst evento = input.evento || 'EVENTO';\nconst pieza = input.pieza || '—';\nconst detalles = input.detalles || '';\n\nconst logLine = `| ${date} | ${time} | ${evento} | ${pieza} | ${detalles} |`;\n\nlet existingContent = '';\nlet sha = null;\n\nif (githubResponse.content) {\n  // File exists — decode and get SHA\n  existingContent = Buffer.from(githubResponse.content, 'base64').toString('utf8');\n  sha = githubResponse.sha;\n} else {\n  // New file\n  existingContent = '# FG Operations Log\\n\\n| Fecha | Hora | Evento | Pieza | Detalles |\\n|-------|------|--------|-------|----------|\\n';\n}\n\nconst newContent = existingContent + logLine + '\\n';\nconst base64Content = Buffer.from(newContent).toString('base64');\n\nreturn [{ json: { base64Content, sha, logLine, logged: true } }];"
      }
    },
    {
      "id": "sub004_write_log",
      "name": "GitHub: Escribir Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{$vars.GITHUB_OWNER}}/{{$vars.GITHUB_REPO}}/contents/07_Operaciones/FG_Operations_Log.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ message: 'n8n: log event', content: $json.base64Content, branch: $vars.GITHUB_BRANCH || 'main', ...($json.sha ? { sha: $json.sha } : {}) }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {"id": "V0SuupEfkzLlD5iJ", "name": "FG GitHub Auth"}
      }
    }
  ],
  "connections": {
    "Ejecutar por Workflow": {
      "main": [[{"node": "GitHub: Leer Log", "type": "main", "index": 0}]]
    },
    "GitHub: Leer Log": {
      "main": [[{"node": "Preparar y Actualizar Log", "type": "main", "index": 0}]]
    },
    "Preparar y Actualizar Log": {
      "main": [[{"node": "GitHub: Escribir Log", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "triggerCount": 0,
  "meta": {"instanceId": ""}
}
