08_n8n/workflows/WF-006_preparar_publicacion.json
{
  "id": "fg_wf_006",
  "name": "WF-006 — Preparar Publicación",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prepare-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf006-trigger",
      "name": "Webhook Prep",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "prepare-publish"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.body.pieza }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      },
      "id": "wf006-validate",
      "name": "Validar Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Campo requerido: pieza' }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "wf006-error",
      "name": "Error: Campo Inválido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 440]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst pieza = $input.first().json.body.pieza;\nconst briefPath = '/workspace/03_Editorial/' + pieza + '_Brief.md';\n\nif (!fs.existsSync(briefPath)) {\n  throw new Error('Brief no encontrado para ' + pieza + ': ' + briefPath);\n}\n\nconst brief = fs.readFileSync(briefPath, 'utf8');\n\nfunction parseField(content, fieldName) {\n  const lines = content.split('\\n');\n  for (const line of lines) {\n    if (line.includes('**' + fieldName + '**')) {\n      const parts = line.split('|');\n      if (parts.length >= 4) return parts[2].trim();\n    }\n  }\n  return '';\n}\n\nconst titulo = parseField(brief, 'Título de trabajo');\nconst pilarNombre = parseField(brief, 'Pilar');\nconst angulo = parseField(brief, 'Ángulo FG');\nconst tesis = parseField(brief, 'Tesis central');\nconst formato = parseField(brief, 'Formato principal');\nconst plataformas = parseField(brief, 'Plataforma(s)');\n\nconst pilarMap = {\n  'geopolitik drop': 'GD',\n  'bass & borders': 'BB',\n  'frecuencia global': 'FG',\n  'blueprint': 'BL',\n  'behind the policy': 'BP'\n};\nconst pilarCode = pilarMap[(pilarNombre || '').toLowerCase()] || 'FG';\n\nreturn [{ json: { pieza, titulo, pilarNombre, pilarCode, angulo, tesis, formato, plataformas } }];"
      },
      "id": "wf006-leer-brief",
      "name": "Leer Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst { pieza, titulo, pilarCode, angulo, tesis } = d;\n\nconst hashtagSets = {\n  GD: ['#GeopolitikDrop', '#Geopolitica', '#RelacionesInternacionales', '#AsesorInternacional', '#FrecuenciaGlobal'],\n  BB: ['#BassAndBorders', '#CulturaGlobal', '#MusicaYGeopolitica', '#BordesTonales', '#FrecuenciaGlobal'],\n  FG: ['#FrecuenciaGlobal', '#AnalisisInternacional', '#Geopolitica', '#PoliticaGlobal'],\n  BL: ['#FrecuenciaGlobal', '#Blueprint', '#EstrategiaGlobal', '#AnalisisEstrategico', '#Geopolitica'],\n  BP: ['#BehindThePolicy', '#Geopolitica', '#AnalisisPolitico', '#PoliticaInternacional', '#FrecuenciaGlobal']\n};\n\nconst tags = hashtagSets[pilarCode] || hashtagSets.FG;\nconst tagsFull = tags.join(' ');\nconst tagsShort = tags.slice(0, 3).join(' ');\n\nconst desc = (tesis && tesis !== '[pendiente de desarrollo]') ? tesis : (angulo || '');\n\n// X copy (280 char limit)\nlet xCopy = titulo + '\\n\\n' + tagsShort;\nif (xCopy.length > 280) {\n  const maxTitle = 280 - tagsShort.length - 4;\n  xCopy = titulo.substring(0, maxTitle) + '...\\n\\n' + tagsShort;\n}\nxCopy = xCopy.substring(0, 280);\n\n// Instagram caption\nconst igTags = tags.concat(['#AnalisisInternacional', '#ContenidoGeopolitico', '#InformacionGlobal']).join(' ');\nconst igCaption = titulo + (desc ? '\\n\\n' + desc : '') + '\\n\\n\\uD83D\\uDCCC Análisis por Frecuencia Global.\\n\\n' + igTags;\n\n// LinkedIn caption\nconst liCaption = titulo + (desc ? '\\n\\n' + desc : '') + '\\n\\nEn Frecuencia Global analizamos el cruce entre geopolítica, cultura e información global.\\n\\n' + tagsFull;\n\n// TikTok caption (300 char limit)\nconst hookTT = titulo.length > 200 ? titulo.substring(0, 197) + '...' : titulo;\nconst ttCaption = (hookTT + ' ' + tags.slice(0, 3).join(' ')).substring(0, 300);\n\nreturn [{ json: Object.assign({}, d, { xCopy, igCaption, liCaption, ttCaption, tagsFull, tagsShort, xCharCount: xCopy.length, ttCharCount: ttCaption.length }) }];"
      },
      "id": "wf006-generar-copy",
      "name": "Generar Copy por Plataforma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst d = $input.first().json;\nconst today = new Date().toISOString().split('T')[0];\nconst tiktokDisplayName = 'Frecuencia Global';\nconst tiktokUsername = '@frecuenciaglobal';\nconst tiktokBio = 'Análisis internacional con pulso electrónico ⚡\\nGeopolítica × música electrónica × datos\\n↓ Web + YouTube + más';\nconst tiktokProfileImage = '/workspace/Frecuencia_Global_Assets_Base/assets/fg_tiktok_profile_200x200.png';\nconst tiktokProfileLink = 'https://frecuenciaglobal.vercel.app';\n\nconst sections = [\n  '# Publish Ready — ' + d.pieza,\n  '',\n  '**Pieza:** ' + d.pieza,\n  '**Fecha:** ' + today,\n  '**Estado:** PUBLISH_READY',\n  '**Formato:** ' + d.formato,\n  '**Plataformas:** ' + d.plataformas,\n  '',\n  '---',\n  '',\n  '## X (Twitter)',\n  '```',\n  d.xCopy,\n  '```',\n  '_Longitud: **' + d.xCharCount + '/280** caracteres_',\n  '',\n  '---',\n  '',\n  '## Instagram',\n  '',\n  '**Caption:**',\n  d.igCaption,\n  '',\n  '---',\n  '',\n  '## LinkedIn',\n  '',\n  d.liCaption,\n  '',\n  '---',\n  '',\n  '## TikTok',\n  '```',\n  d.ttCaption,\n  '```',\n  '_Longitud: **' + d.ttCharCount + '/300** caracteres_',\n  '',\n  '---',\n  '',\n  '## TikTok Perfil (Identidad)',\n  '',\n  '**Display name:** ' + tiktokDisplayName,\n  '**Username:** ' + tiktokUsername,\n  '**Foto de perfil:** ' + tiktokProfileImage,\n  '**Link de perfil:** ' + tiktokProfileLink,\n  '',\n  '**Bio seleccionada:**',\n  '```',\n  tiktokBio,\n  '```',\n  '',\n  '**Checklist manual rápido (app TikTok):**',\n  '- Subir foto de perfil (archivo 200x200)',\n  '- Pegar bio seleccionada',\n  '- Configurar link en perfil',\n  '- Verificar display name exacto',\n  '',\n  '---',\n  '',\n  '> Generado el ' + today + ' por n8n WF-006. Revisar antes de publicar.'\n];\nconst content = sections.join('\\n');\nconst outPath = '/workspace/04_Produccion/' + d.pieza + '_PublishReady.md';\nfs.writeFileSync(outPath, content, 'utf8');\nreturn [{ json: Object.assign({}, d, { publishReadyPath: outPath, tiktokProfileImage, tiktokProfileLink, tiktokDisplayName }) }];"
      },
      "id": "wf006-escribir-ready",
      "name": "Escribir PublishReady",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst pieza = $input.first().json.pieza;\nconst trackerPath = '/workspace/04_Produccion/pipeline_tracker.json';\nlet tracker = {};\ntry {\n  const raw = fs.readFileSync(trackerPath, 'utf8');\n  tracker = JSON.parse(raw);\n} catch (e) { tracker = {}; }\nif (!tracker[pieza]) tracker[pieza] = { historial: [] };\ntracker[pieza].historial = tracker[pieza].historial || [];\nconst ahora = new Date().toISOString();\n// Idempotency: skip if last event is same estado within 60s\nconst last = tracker[pieza].historial[tracker[pieza].historial.length - 1];\nconst isDupe = last && last.estado === 'PUBLISH_READY' && (new Date(ahora) - new Date(last.timestamp)) < 60000;\nif (!isDupe) {\n  tracker[pieza].historial.push({ estado: 'PUBLISH_READY', timestamp: ahora });\n  tracker[pieza].estado_actual = 'PUBLISH_READY';\n  tracker[pieza].ultima_actualizacion = ahora;\n  fs.writeFileSync(trackerPath, JSON.stringify(tracker, null, 2), 'utf8');\n}\nreturn [{ json: $input.first().json }];"
      },
      "id": "wf006-actualizar-tracker",
      "name": "Actualizar Tracker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "workflowId": "fg_sub_002",
        "options": {},
        "inputData": {
          "mensaje": "={{ '\\uD83D\\uDCE4 Listo para publicar: ' + $json.titulo + '\\nPieza: ' + $json.pieza + '\\nPlataformas: ' + $json.plataformas }}"
        }
      },
      "id": "wf006-telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1560, 200],
      "notes": "Llama a SUB-002_notificar_telegram"
    },
    {
      "parameters": {
        "workflowId": "fg_sub_004",
        "options": {},
        "inputData": {
          "evento": "PUBLISH_READY",
          "pieza": "={{ $('Actualizar Tracker').first().json.pieza }}",
          "detalles": "={{ 'PublishReady generado: ' + $('Actualizar Tracker').first().json.titulo }}",
          "timestamp": "={{ new Date().toISOString() }}"
        }
      },
      "id": "wf006-registrar",
      "name": "Registrar Evento",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1780, 200],
      "notes": "Llama a SUB-004_registrar_evento"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, pieza: $('Actualizar Tracker').first().json.pieza, archivo: '04_Produccion/' + $('Actualizar Tracker').first().json.pieza + '_PublishReady.md', plataformas: $('Actualizar Tracker').first().json.plataformas, xCharCount: $('Actualizar Tracker').first().json.xCharCount }) }}"
      },
      "id": "wf006-responder",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 200]
    }
  ],
  "connections": {
    "Webhook Prep": {
      "main": [
        [{ "node": "Validar Input", "type": "main", "index": 0 }]
      ]
    },
    "Validar Input": {
      "main": [
        [{ "node": "Leer Brief", "type": "main", "index": 0 }],
        [{ "node": "Error: Campo Inválido", "type": "main", "index": 0 }]
      ]
    },
    "Leer Brief": {
      "main": [
        [{ "node": "Generar Copy por Plataforma", "type": "main", "index": 0 }]
      ]
    },
    "Generar Copy por Plataforma": {
      "main": [
        [{ "node": "Escribir PublishReady", "type": "main", "index": 0 }]
      ]
    },
    "Escribir PublishReady": {
      "main": [
        [{ "node": "Actualizar Tracker", "type": "main", "index": 0 }]
      ]
    },
    "Actualizar Tracker": {
      "main": [
        [{ "node": "Notificar Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Notificar Telegram": {
      "main": [
        [{ "node": "Registrar Evento", "type": "main", "index": 0 }]
      ]
    },
    "Registrar Evento": {
      "main": [
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
