08_n8n/workflows_fixed/WF-001_intake_ideas.json
{
  "name": "WF-001 — Intake de Ideas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf001-trigger",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "intake-ideas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.body.titulo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.body.pilar }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.body.angulo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.body.formato }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "wf001-validate",
      "name": "Validar Campos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Leer directorio 03_Editorial y calcular siguiente número secuencial\nconst fs = require('fs');\nconst path = '/workspace/03_Editorial';\nlet maxNum = 0;\n\ntry {\n  const files = fs.readdirSync(path);\n  for (const file of files) {\n    const match = file.match(/^P1_(\\d{3})/);\n    if (match) {\n      const num = parseInt(match[1], 10);\n      if (num > maxNum) maxNum = num;\n    }\n  }\n} catch (e) {\n  // Si no existe el directorio, empezar desde 0\n}\n\nconst nextNum = String(maxNum + 1).padStart(3, '0');\nconst idPieza = `P1_${nextNum}`;\n\n// Mapa de pilares\nconst pilares = {\n  'GD': 'Geopolitik Drop',\n  'BB': 'Bass & Borders',\n  'FG': 'Frecuencia Global',\n  'BP': 'Blueprint'\n};\n\nconst body = $input.first().json.body;\nconst today = new Date().toISOString().split('T')[0];\nconst weekNum = Math.ceil((new Date() - new Date(new Date().getFullYear(), 0, 1)) / 604800000);\nconst weekId = `W${String(weekNum).padStart(2, '0')}`;\nconst idCompleto = `FG-${new Date().getFullYear()}-${weekId}-${nextNum}`;\n\nreturn [{\n  json: {\n    idPieza,\n    idCompleto,\n    nextNum,\n    titulo: body.titulo,\n    pilar: body.pilar,\n    pilarNombre: pilares[body.pilar] || body.pilar,\n    angulo: body.angulo,\n    formato: body.formato,\n    plataformas: body.plataformas || 'Instagram',\n    autor: body.autor || 'Farid Mohammadi',\n    deadline: body.deadline || '',\n    fecha: today\n  }\n}];"
      },
      "id": "wf001-sequence",
      "name": "Generar ID Secuencial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "filePath": "/workspace/08_n8n/templates/brief_template.md",
        "options": {}
      },
      "id": "wf001-read-template",
      "name": "Leer Template Brief",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const template = $('Leer Template Brief').first().json.data;\nconst data = $('Generar ID Secuencial').first().json;\n\nlet content = template;\ncontent = content.replace(/\\{\\{ID_PIEZA\\}\\}/g, data.idCompleto);\ncontent = content.replace(/\\{\\{FECHA\\}\\}/g, data.fecha);\ncontent = content.replace(/\\{\\{TITULO\\}\\}/g, data.titulo);\ncontent = content.replace(/\\{\\{PILAR_MARCADO\\}\\}/g, data.pilarNombre);\ncontent = content.replace(/\\{\\{ANGULO\\}\\}/g, data.angulo);\ncontent = content.replace(/\\{\\{FORMATO\\}\\}/g, data.formato);\ncontent = content.replace(/\\{\\{PLATAFORMAS\\}\\}/g, data.plataformas);\ncontent = content.replace(/\\{\\{AUTOR\\}\\}/g, data.autor);\ncontent = content.replace(/\\{\\{DEADLINE\\}\\}/g, data.deadline);\n\nreturn [{ json: { content, idPieza: data.idPieza, ...data } }];"
      },
      "id": "wf001-fill-template",
      "name": "Rellenar Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "filePath": "={{ '/workspace/03_Editorial/' + $json.idPieza + '_Brief.md' }}",
        "fileContent": "={{ $json.content }}",
        "options": {}
      },
      "id": "wf001-write-brief",
      "name": "Escribir Brief",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "imp_dotwbomoyn",
        "options": {},
        "inputData": {
          "evento": "BRIEF_CREADO",
          "pieza": "={{ $json.idPieza }}",
          "detalles": "={{ 'Brief creado: ' + $json.titulo + ' [' + $json.pilarNombre + ']' }}",
          "timestamp": "={{ new Date().toISOString() }}"
        }
      },
      "id": "wf001-log",
      "name": "Registrar Evento",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1560,
        200
      ],
      "notes": "Llama a SUB-004_registrar_evento"
    },
    {
      "parameters": {
        "workflowId": "imp_je0kp4oz4u",
        "options": {},
        "inputData": {
          "mensaje": "={{ '📝 Nuevo brief: ' + $json.titulo + '\\nPilar: ' + $json.pilarNombre + '\\nID: ' + $json.idCompleto }}"
        }
      },
      "id": "wf001-notify",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1780,
        200
      ],
      "notes": "Llama a SUB-002_notificar_telegram"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, pieza: $json.idPieza, id: $json.idCompleto, archivo: '03_Editorial/' + $json.idPieza + '_Brief.md' }) }}"
      },
      "id": "wf001-respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Campos requeridos: titulo, pilar, angulo, formato' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "wf001-respond-error",
      "name": "Error: Campos Faltantes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        440
      ]
    }
  ],
  "connections": {
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "Validar Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Campos": {
      "main": [
        [
          {
            "node": "Generar ID Secuencial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Campos Faltantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar ID Secuencial": {
      "main": [
        [
          {
            "node": "Leer Template Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Template Brief": {
      "main": [
        [
          {
            "node": "Rellenar Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rellenar Template": {
      "main": [
        [
          {
            "node": "Escribir Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir Brief": {
      "main": [
        [
          {
            "node": "Registrar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Evento": {
      "main": [
        [
          {
            "node": "Notificar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Telegram": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "triggerCount": 1,
  "meta": {
    "instanceId": "fg-local"
  },
  "id": "loc_WF_001_intake_ideas"
}